<address ng-class="{'active': address.isActive}">
    <div>{{address.line1}}</div>
    <div>{{address.line2}}</div>
    <abbr title="Phone">Phone:</abbr> {{address.phone}}<br/>
    <abbr title="Postal">Postal:</abbr> {{address.postalCode}}
    <div class="actions pull-right" data-ng-hide="viewOnly">
        <a data-ng-click="activate(address)"><i class="glyphicon" ng-class="{'glyphicon-check':address.isActive, 'glyphicon-unchecked':!address.isActive}" ></i></a>
        <a data-ng-click="edit(address)"><i class="glyphicon glyphicon-edit"></i></a>
        <a data-ng-click="delete(index)"><i class="glyphicon glyphicon-trash" ></i></a>
    </div>
</address>
