<section data-ng-controller="ContactsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Contacts</h1>
    </div>
    <div class="row" data-ng-show="!loading">
        <div data-ng-repeat="contact in contacts" class="col-md-4">
            <a data-ng-href="#!/contacts/{{contact._id}}" class=" contact-block">
                <strong>{{contact.firstName}} {{contact.lastName}}</strong><br />
                <abbr title="Email">Email:</abbr>{{contact.email}}<br/>
                <abbr title="Phone">Phone:</abbr> {{contact.phone}}<br/>
                <abbr title="Gender">Gender:</abbr>{{contact.gender | genderFilter}}<br/>
                <p data-ng-repeat="address in contact.addresses | filter:{isActive: true}:true">
                    {{address.line1}}<br/>
                    {{address.line2}}<br/>
                    {{address.phone}}<br/>
                    {{address.postalCode}}
                </p>
            </a>
        </div>
    </div>
    <div class="progress" data-ng-show="loading">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!contacts.$resolved || contacts.length">
    	No Contacts yet, why don't you <a href="/#!/contacts/create">create one</a>?
    </div>
</section>
