address {
    padding: 5px;
    border: 1px solid #cacaca;
}

.contact-block {
    margin: 10px;
    border: 1px solid #cacaca;
    padding: 10px;
    color: inherit;
    text-decoration: none;
    display: block;
}
.contact-block:hover {
    text-decoration: none;
    color: inherit;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.contact-block:focus {
    text-decoration: none;
    color: inherit;
}

address.active {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}
